.BoardGameIllustration {
  height: 220px;
}

.Homepage {
  padding: 20px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #190b3d;
  padding-bottom: 0px;
}

.AllIndividualReviewedGames {
  text-align: left;
  font-size: 12px;
  margin: 10px;
  background-color: white;
  min-height: 120px;
  padding: 10px;
  padding-bottom: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: -1px 16px 27px -4px rgba(167, 175, 245, 0.77);
  position: relative;
}

.HomepageOpeningMainHeader {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #ee5162;
  margin-bottom: 2px;
  margin-top: 6px;
  line-height: 31px;
}

.HomepageOpeningText {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #190b3d;
  font-style: italic;
}

@media only screen and (min-width: 600px) {
  .AllReviewedGames {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .AllIndividualReviewedGames {
    text-align: left;
    font-size: 12px;
    width: 200px;
    height: 200px;
    flex-grow: 5;
  }

  .HomepageOpeningMainHeader {
    font-size: 50px;
    line-height: 50px;
  }

  .HomepageOpeningText {
    font-size: 20px;
  }

  .CategorySelectContainer {
    margin-left: 25%;
    margin-right: 25%;
  }

  .BoardGameIllustration {
    height: 300px;
  }
}

@media only screen and (min-width: 1200px) {
  .AllIndividualReviewedGames {
    text-align: left;
    font-size: 12px;
    width: 300px;
    height: 300px;
    flex-grow: 5;
  }
}

.ReviewsByCategoryText {
  margin-top: 35px;
  color: #190b3d;
}

.SelectCategory {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.SelectCategoryOptions {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.SearchButton {
  all: unset;
  margin-top: 20px;
  background-color: #190b3d;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-bottom: 15px;
}

.SubmitError {
  font-style: italic;
  color: grey;
}

.AllGameReviewsText {
  margin-top: 0px;
  color: #190b3d;
  margin-bottom: 7px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.AllReviewedGames {
  background-color: #ecf1fd;
  padding: 10px;
}

.DiceImgIndividualReviews {
  height: 25px;
  margin: 2px;
  margin-top: 0px;
  margin-right: 0px;
  float: left;
}

.UpvoteImgIndividualReviews {
  height: 13px;
  margin: 0px;
  margin-top: 5px;
  float: left;
}

.IndividualReviewTitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
  color: #190b3d;
}

.IndividualReviewInfo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: grey;
  font-style: italic;
  margin-bottom: 5px;
}

.UpvoteCount {
  float: left;
  margin-left: 5px;
  margin-top: 3px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: 700px;
  color: #ee5162;
}

.Divider {
  margin: 4px;
}

.DiceContainer {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}

.LoadingImg {
  height: 80px;
}

.LoadingSection {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
