.ReviewsByCategory {
  padding: 20px;
  border-color: black;
  border-style: solid;
  text-align: center;
}

.BackButton {
  text-align: left;
}

.SortBy {
  text-align: left;
  border-bottom: solid;
}

.SortByButtons {
  text-align: left;
  padding-bottom: 20px;
}
